<div th:fragment="account">

	<h2>Update your details</h2>


<p><strong><span th:text="${userName}"></span></strong></p>
<br><br>

<div style="background-color: #bdc6fc; width: 400px; text-align: right; padding: 5px; font-family: verdana;">
	<form action="/account" method="post">
			<input type="hidden" name="userName" th:value="${userName}"><br>
			Name <input type="text" name="name" th:value="${name}" style="width:180px;"><br><br>
			First name <input type="text" name="firstName" th:value="${firstName}" style="width:180px;"><br><br>
			Address <input type="text" name="address" th:value="${address}" style="width:180px;"><br><br>
			Postal code <input type="text" name="postalCode" th:value="${postalCode}" style="width:180px;"><br><br>
			Town <input type="text" name="town" th:value="${town}" style="width:180px;"><br><br>
			<button type="submit">Update your profile</button>
	</form>
	<br>
	<p>
		<strong th:text="${message}" style="color:#3d4470;"></strong>
	</p>
	
	</div>
	
		

</div>