<div th:fragment="adduser">

	<h2>Add user</h2>
	<br>

	<div style="background-color: #bdc6fc; width: 600px; text-align: left; padding: 5px; font-family: verdana;">
		<form action="/adduser" method="post">
		<label for="username">Email (userID)</label>
		<input type="text" name="username"><br>
		
		<label for="name">Name</label>
		<input type="text" name="name"><br>
		
		<label for="firstname">Firstname</label>
		<input type="text" name="firstname"><br>
		
		<label for="address">Address</label>
		<input type="text" name="address"><br>
		
		<label for="postalcode">Postal code</label>
		<input type="text" name="postalcode"><br>
		
		<label for="town">Town</label>
		<input type="text" name="town"><br>
		
		<label for="password">New Password</label>
		<input type="password" name="password"><br>
		
		<label for="confirmpassword">Confirm password</label>
		<input type="password" name="confirmpassword"><br>
		
		<label for="shop">Shop staff</label>
		<input type="radio" id="shop" name="role" value="1"><br>
		
		<label for="desk">Desk staff</label>
	    <input type="radio" id="desk" name="role" value="2"><br>

		<label for="cleaning">Cleaning staff"</label>
		<input type="radio" id="cleaning" name="role" value="3"><br>
		
		<label for="admin">Admin</label>
		<input type="radio" id="admin" name="role" value="4"><br>

		<label for="customer">Customer</label>
		<input type="radio" id="customer" name="role" value="5" checked="checked"><br>

		<button type="submit">Submit</button>
		</form>
		
		<br>
<strong>
<p th:text="${message}"></p>
</strong>

	</div>