<div th:fragment="adduser">

	<h2>Add user</h2>
	<br>

	<div style="background-color: #bdc6fc; min-width: 400px; text-align: right; padding: 5px; font-family: verdana;">
		<form action="/adduser" method="post">
		Email (userID) <input type="text" name="username" style="width:180px;"><br><br>
		
		Name <input type="text" name="name" style="width:180px;"><br><br>
		
		First name <input type="text" name="firstname" style="width:180px;"><br><br>
		
		Address <input type="text" name="address" style="width:180px;"><br><br>
		
		Postal code <input type="text" name="postalcode" style="width:180px;"><br><br>
		
		Town <input type="text" name="town" style="width:180px;"><br><br>
		
		New Password <input type="password" name="password" style="width:180px;"><br><br>
		
		Confirm password <input type="password" name="confirmpassword" style="width:180px;"><br><br>
		
		Shop staff <input type="radio" id="shop" name="role" value="1"><br>
		
		Desk staff <input type="radio" id="desk" name="role" value="2"><br>

		Cleaning staff <input type="radio" id="cleaning" name="role" value="3"><br>
		
		Admin <input type="radio" id="admin" name="role" value="4"><br>

		Customer <input type="radio" id="customer" name="role" value="5" checked="checked"><br><br>

		<button type="submit">Submit</button>
		</form>
		<br>
		<p>
<strong th:text="${message}" style="color:#3d4470;"></strong>
</p>
		
		</div>
		
		
		<br>

	</div>