<div th:fragment="bookingsstaff">
 
<h2>Bookings staff view</h2>
<br>

 
<table>
<tr>
<th>First name</th>
<th>Name</th>
<th>Movie</th>
<th>Time</th>
<th>Date</th>
<th>Location</th>
</tr>
<tr th:each="booking: ${allBookings}">
<td th:text="${booking.getUser.getFirstName}" style="width:130px;"></td>
<td th:text="${booking.getUser.getName}"  style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getMovie.getTitle}"  style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getTime}" style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getDate}"  style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getTheaterRoom.getLocation}"  style="width:130px;"></td>
</tr>
</table>
    
    
</div>