<div th:fragment="bookingscustomer">
 
<h2>My bookings</h2>
<br>

<strong>
		<span th:text="${message}"></span>
	</strong><br>

<table>
<tr>
<th>Movie</th>
<th>Time</th>
<th>Date</th>
<th>Location</th>
</tr>
<tr th:each="booking: ${bookings}">
<td th:text="${booking.getScheduleShow.getMovie.getTitle}"  style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getTime}" style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getDate}"  style="width:130px;"></td>
<td th:text="${booking.getScheduleShow.getTheaterRoom.getLocation}"  style="width:130px;"></td>
</tr>
</table>
 
    
    
</div>