<div th:fragment="bookingsstaff">
 
<h2>Bookings staff view</h2>
<br>

<strong>
		<span th:text="${message}" style="color:#3d4470;"></span>
	</strong><br>
	
<br>


<div>
<form method="post" action="/bookingsstaff/deletebooking" th:each="booking, index: ${allBookings}">
<p>
<input type="hidden" th:value="${booking.getPKbooking}" name="pkBooking">
Firstname: <span th:text="${booking.getUser.getFirstName}" style="padding:10px;font-size:12px;"></span>
Name: <span th:text="${booking.getUser.getName}"  style="padding:10px;font-size:12px;"></span><br>
Title: <span th:text="${booking.getScheduleShow.getMovie.getTitle}"  style="padding:10px;font-size:12px;"></span><br>
Time: <span th:text="${booking.getScheduleShow.getTime}" style="padding:10px;font-size:12px;"></span>
Date: <span th:text="${booking.getScheduleShow.getDate}"  style="padding:10px;font-size:12px;"></span><br>
Location: <span th:text="${booking.getScheduleShow.getTheaterRoom.getLocation}"  style="padding:10px;font-size:11px;"></span>
Seats: <span  th:text="${booking.getSeats}"  style="text-align:right;padding:10px;font-size:12px;"></span>
Vip seats: <span th:text="${booking.getVipSeats}"  style="text-align:right;padding:10px;font-size:12px;"></span><br>
<span  style="text-align:right;padding:10px;font-size:12px;">
<button type="submit" th:id="${'submit'+index.index}" th:onclick="if(!(confirm('Are you sure you want to delete this booking?') )) return false" style="width:70px;">Delete</button>
</span>
</p><br>
</form>
</div>

      
</div>