<div th:fragment="editmovies">



<h2>Edit movie</h2>
<br>
		<p>
<strong th:text="${message}" style="color:#3d4470;"></strong>
</p>
<br>		
<div class="table">
    <form action="/editmovies/edit" method="post" class="tr" th:each="movie, index: ${movies}" enctype="multipart/form-data">
        <span class="td" style="vertical-align:top;">
        <input type="hidden" th:value="${movie.PKmovie}" name="movieID">
        <br><input type="text" th:value="${movie.title}" name="title" style="width:200px;"><br>
        <select name="genre">
    <option
            th:each="genre : ${genres}"
            th:text="${genre.getGenre}"
            th:value="${genre.getGenreID}" th:selected="${ #strings.equals(genre.getGenre, movie.getGenre.getGenre)}">
    </option>
</select><br>
        <input type="number" step="0.1" name="rating" min="0" max="10" th:value="${movie.rating}" style="width:80px;"> rating<br>
        <input type="number" name="length" min="1" th:value="${movie.length}" style="width:80px;"> minutes<br>
       	<input type="checkbox" name="threeD" th:checked="${movie.threeD}"> 3D<br>
       	Change image<br><input type="file" name="image" accept="image/png, image/jpeg" style="width:200px;"><br>
       		 <strong>Delete?</strong>
 &nbsp; &nbsp;<input type="checkbox" th:id="${index.index}"  name="delete" th:onclick="'javascript:changeSubmitButtonMovie(' + ${index.index} + ')'"><br>
    <button type="submit" th:id="${'submit'+index.index}" th:onclick="'javascript:show_alert(' + ${index.index} + ')'" style="width:100px;">Update movie</button>
       	 </span>
        <span class="td">
       <img th:src="${movie.photoImagePath}" width="190" height="290" th:alt="${movie.title}" th:title="${movie.title}"><br>
    </span>
</form>

</div>


</div>