<div th:fragment="home">
    
<h2>Cinema Management System</h2>
<br>

    <br>
  
    <table>
    <tr><td style="text-align:left;font-weight:bold" colspan="3">Testdata<br><span style="font-size:12px">* Menu options depends on user role</span><br><br></td></tr>
    <tr><td style="font-weight:bold;width:240px;">Role</td><td style="font-weight:bold;width:160px;">Password</td><td></td></tr>
    <tr><td>customer@thescope.com</td><td>test</td><td rowspan="5"><img th:src="@{/assets/photo-7991378.jpeg}" width="230" height="300" alt="TheScope" title="TheScope"></td></tr>
    <tr><td>admin@thescope.com</td><td>test</td></tr>
    <tr><td>desk@thescope.com</td><td>test</td></tr>
    <tr><td>cleaning@thescope.com</td><td>test</td></tr>
    <tr><td>shop@thescope.com</td><td>test</td></tr>
    </table>
    
</div>