<div th:fragment="movies">



<h2>Movies</h2>
<br>
<div class="table">
    <div class="tr" th:each="movie: ${movies}">
        <span class="td" style="vertical-align:top;font-size:16px;">
        <br><span th:text="${movie.title}" style="font-weight:bold; font-variant: small-caps;"></span><br><br>
        <span th:text="${movie.genre}" style="font-weight:bold; font-size:15px"></span><br>
        <span th:text="${movie.rating}"></span> rating<br>
        <span th:text="${movie.length}"></span> minutes<br>
        <span><input type="checkbox" name="mycheckbox" disabled="disabled"  th:checked="${movie.threeD}"> 3D</span>
        </span>
        <span class="td">
       <img th:src="${movie.photoImagePath}" width="220" height="315" th:alt="${movie.title}" th:title="${movie.title}" style="border-radius: 15%;">
    </span>
</div>

</div>

</div>