<div th:fragment="passwordreset">
    
<h2>Reset your password</h2>
<br>

<div style="background-color:#bdc6fc; width:600px; text-align:left; padding:16px;  font-family: sans-serif; letter-spacing: 4px;">

<form action="/passwordreset" method="post">
<input type="hidden" name="userName" th:value="${userName}">
<p>Old password:<br>
<input type="password" name="oldPassword" style="width:180px;"></p>
<p>New password:<br>
<input type="password" name="password" style="width:180px;"></p>
<p>Confirm password:<br>
<input type="password" name="confirmPassword" style="width:180px;"></p>
<br>
<button type="submit">Reset</button>
</form>
<br>
<p>
<strong th:text="${message}"></strong>
</p>

</div>

    
</div>