<div th:fragment="passwordreset">
    
<h2>Login</h2>
<br>

<div style="background-color:#bdc6fc; width:600px; text-align:left; padding:16px;  font-family: sans-serif; letter-spacing: 4px;">

<form action="/passwordreset" method="post">
<input type="hidden" name="userName" th:value="${userName}" readonly>
<p>Old password:<br>
<input type="password" name="oldPassword"></p>
<p>New password:<br>
<input type="password" name="password"></p>
<p>Confirm password:<br>
<input type="password" name="confirmPassword"></p>
<br />
<button type="submit">Reset</button>
</form>

<br>
<strong>
<p th:text="${message}"></p>
</strong>

</div>
    
    
</div>