<div th:fragment="rooms">
  
<h2>Rooms</h2>
<br>
    
<!--  Add room -->    
 <div class="table">
<form action="/rooms/add" method="post" name="add" class="tr">
<span class="td">Room (location)<br><input type="text" name="location" style="width:200px"></span>
<span class="td">maxNormalSeats<br><input type="number" name="maxNormalSeats" value="0" style="width:80px"></span>
<span class="td">maxVipSeats<br><input type="number" name="maxVipSeats" value="0" style="width:80px"></span>
<span class="td"><br><button type="submit">Add room</button></span>
</form>
</div>
<!--  End add room -->  
    
<strong>
		<span th:text="${message}"></span>
	</strong><br>
	
<br>    
    
<!-- Rooms list -->    
<div class="table">

<form action="/rooms/update" method="post" class="tr" th:each="room, index:${rooms}">

<span class="td">
<strong>ROOM (location)</strong><br>
<input type="hidden" th:value="${room.PKtheaterRoom}" name="PKtheaterRoom">
<input th:value="${room.location}" type="text" name="location">
</span>
<span class="td">
<strong>max normal seats</strong><br>
<input th:value="${room.maxNormalSeats}" type="text" name="maxNormalSeats"><br>
</span>
<span class="td">
<strong>max vip seats</strong><br>
<input th:value="${room.maxVipSeats}" type="text" name="maxVipSeats"><br>
</span>
<span class="td">
<strong>Delete?</strong>
 &nbsp; &nbsp;<input type="checkbox" th:id="${index.index}"  name="delete" th:onclick="'javascript:changeSubmitButtonRoom(' + ${index.index} + ')'"><br>
<button type="submit" th:id="${'submit'+index.index}" th:onclick="'javascript:show_alert(' + ${index.index} + ')'" style="width:100px;">Update room</button>
</span>

</form>
</div>   
<!-- End rooms list --> 
    
    
</div>