<div th:fragment="shop">
  
<h2>Shop</h2>
<br>
<div style="width:500px;  padding:16px;  font-family: sans-serif; letter-spacing: 4px;">    

    <table style="width: 100%; border-collapse: collapse;" border="1">
<tbody>
<tr><td style="width: 30%;">
<div>
<form action="/shop/filter" method="post">
  <label for="category">Categories:
  </label>
  <select name="cat" size="4" multiple style="width: 100%;">
<option value="Drinks">Drinks</option>
<option value="Candy">Candy</option>
<option value="Popcorn">Popcorn</option>
<option value="Chips">Chips</option>
</select>
<button type="submit">Filter</button>
</form>
</div>

</td><td style="width: 70%;"> 

  <label for="products">Chose products:</label><br>
  <select id="products" name="products" multiple>
    <option th:each="product : ${products}" th:value="${product.getArticleId()}" th:text="${product.getDescription() + ' - €' + product.getPriceTaxIn}">
    </option>
</select>

</td></tr>
<tr><td>
  
  <div th:if="${isLoggedIn}==true"> <label for="user" >User information:</label>
  <br>
    <span th:text="${welcomeName}"></span> &nbsp;(<span th:text="${role}"></span>)
    </div>
    
    </td><td>
    
    <div>
    <label for="products">Shopping list:</label>
    </div>
    
    </td></tr>
</tbody>
</table>
    
</div>