<div th:fragment="signup">

	<h2>Welcome, create your account</h2>
	<br>

	<div style="background-color: #bdc6fc; width: 600px; text-align: right; padding: 5px; font-family: verdana;">
		<form action="/signup" method="post">
		Email (userID)
		<input type="text" name="username" style="width:180px;"><br><br>
		Name <input type="text" name="name" style="width:180px;"><br><br>
		First name <input type="text" name="firstname" style="width:180px;"><br><br>
		Address <input type="text" name="address" style="width:180px;"><br><br>
		Postal code <input type="text" name="postalcode" style="width:180px;"><br><br>
		Town <input type="text" name="town" style="width:180px;"><br><br>
		New password <input type="password" name="password" style="width:180px;"><br><br>
		Confirm password <input type="password" name="confirmpassword" style="width:180px;"><br><br>
		<button type="submit">Submit</button>
		</form>
		<br>
		<p>
<strong th:text="${message}"></strong>
</p>
		
	</div>
		
		<br>


	</div>