<div th:fragment="users">

<h2>Users</h2>
<br>


<p>Search user</p>


<div class="table">
<form action="/users/find" method="post" name="findUser" class="tr">
<span class="td">Email (userID)<br><input type="text" name="findUserName" style="width:200px"></span>
<span class="td">Name<br><input type="text" name="findName" style="width:190px"></span>
<span class="td">Firstname<br><input type="text" name="findFirstName" style="width:190px"></span>
<span class="td"><br><button type="submit">Search</button></span>
</form>
</div>



<strong>
		<span th:text="${message}"></span>
	</strong><br>
	
<br>
     
 <span style="font-size:10px;"><strong>* Only 50 users are preloaded, use the search button to find users </strong></span>
<div class="table">

<form action="/users" method="post" class="tr" th:each="user, index: ${users}" th:unless="${index.index > 49}">

<span class="td">
<strong>Username/role</strong><br>
<span th:text="${user.userName}"></span><input th:value="${user.userName}" type="hidden" name="userName"><br>
<select name="userRole">
    <option
            th:each="role : ${roles}"
            th:text="${role.getRoleName}"
            th:value="${role.getRoleName}"  th:selected="${ #strings.equals(role.getRoleName, user.userRole)}">
    </option>
</select>
</span>

<span class="td">
<strong>Name/Firstname</strong><br>
<input th:value="${user.name}" type="text" name="name"><br>
<input th:value="${user.firstName}" type="text" name="firstName">
</span>

<span class="td">
<strong>Address/Postal/Town</strong><br>
<input th:value="${user.address}" type="text" name="address"><br>
<input th:value="${user.postalCode}" type="text" name="postalCode"><br>
<input th:value="${user.town}" type="text" name="town">
</span>

<span class="td">
<strong>Password</strong><br>
<input type="password" name="secret">
</span>

<span class="td">
<strong>Delete?</strong><br>
 &nbsp; &nbsp;<input type="checkbox" th:id="${index.index}"  name="delete" th:onclick="'javascript:show_alert(' + ${index.index} + ')'">
</span>

<span class="td">
<br>
<button type="submit">Update details</button>
</span>

</form>

</div>
    
</div>