<div th:fragment="users">
 
<h2>Users</h2>
<br>

      
<table style="font-size:12px; width: 900px; text-align: left; padding: 0px; font-family: verdana;">
<tr>
<th style="width:170px">Email (userID)</th>
<th style="width:120px">Name</th>
<th style="width:120px">Firstname</th>
<th style="width:120px">Address</th>
<th style="width:40px">Postal code</th>
<th style="width:110px">Town</th>
<th style="width:100px">Role</th>
</tr>
<tr th:each="users: ${users}">
<td th:text="${users.userName}"></td>
<td th:text="${users.name}"></td>
<td th:text="${users.firstName}"></td>
<td th:text="${users.address}"></td>
<td th:text="${users.postalCode}"></td>
<td th:text="${users.town}"></td>
<td th:text="${users.userRole}"></td>
</tr>
</table>
    
</div>