<div th:fragment="users">

<h2>Users</h2>
<br>


<p>Search users</p><br>


<div>
<form action="/users/find" method="post" name="findUser">
<span>Email (Username)<br><input type="text" name="findUserName" style="width:200px"></span><br>
<span>Name<br><input type="text" name="findName" style="width:200px"></span><br>
<span>Firstname<br><input type="text" name="findFirstName" style="width:200px"></span><br>
<span>
Rolename<br>
<select name="roleName">
<option selected value="">Select role</option>
    <option
            th:each="roleName : ${roles}"
            th:text="${roleName.getRoleName}"
            th:value="${roleName.getRoleName}">
    </option>
</select>
</span><br>
<span><br><button type="submit">Search</button></span>
</form>
</div>



<strong>
		<span th:text="${message}" style="color:#3d4470;"></span>
	</strong><br>
	
<br>
     

<div style="text-align:right;">

<form action="/users" method="post" th:each="user, index: ${users}">

<div style="text-align:left;">
<strong>Username:</strong><br>

<span th:text="${user.userName}" style="width:280px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-size:14px;"></span>
<input th:value="${user.userName}" type="hidden" name="userName"><br>
<select name="userRole">
    <option
            th:each="role : ${roles}"
            th:text="${role.getRoleName}"
            th:value="${role.getRoleName}"  th:selected="${ #strings.equals(role.getRoleName, user.userRole)}">
    </option>
</select>
</div>

<br>

<strong>Name: </strong><input th:value="${user.name}" type="text" name="name"><br>

<strong>Firstname: </strong><input th:value="${user.firstName}" type="text" name="firstName"><br>

<strong>Address: </strong><input th:value="${user.address}" type="text" name="address"><br>

<strong>PostalCode: </strong><input th:value="${user.postalCode}" type="text" name="postalCode"><br>

<strong>Town: </strong><input th:value="${user.town}" type="text" name="town"><br>

<strong>Password: </strong><input type="password" name="secret"><br>

<strong>Delete? </strong>
 &nbsp; &nbsp;<input type="checkbox" th:id="${index.index}"  name="delete" th:onclick="'javascript:changeSubmitButton(' + ${index.index} + ')'"><br>
<button type="submit" th:id="${'submit'+index.index}" th:onclick="'javascript:show_alert(' + ${index.index} + ')'" style="width:120px;">Update details</button>

<br><br>

</form>
</div>
    
</div>
